
        * {
          box-sizing: border-box;
        }
        html{
          scroll-behavior: smooth;
        }
        body {
          border: none;
          margin: 0%;
        }
        h1{
          color: black;
          text-align: center;
        }
        p{
          color: black;
          text-align: center;
          margin-left: 20%;
          margin-right: 20%;
        }
        
        .header {
          background-color: #f1f1f1;
          padding: 20px;
          text-align: center;
          background-color: orange;
          color: black;
        }
        
        
        .topnav {
          overflow: hidden;
          background-color: black;
        }
        
        
        .topnav a {
          float: right;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        div.tartalom{
          background-color: white;
          text-align: center;
        }
        iframe{
          
          position: relative;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          width: 500px;
          height: 450px;
          border: none;
        }
        h2{
          color: black;
          text-align: center;
          
        }
        .footer{
          text-align: center;
          background-color: black;
          padding: 5px;
      
        }
        .asd{
          color: white;
        }